
@{
    ViewBag.Title = "DeleteRole";
}

<h2>DeleteRole</h2>
<p>
    @if (ViewBag.Result)
    {
    <p>Role deletion was a success.</p>
}
else
{
    <p>Role deletion failed!</p>
}
    @Html.ActionLink("Return to Roles", "GetRoles")